/*------------------------------------*\
  #Navigation
\*------------------------------------*/ 

body {
    @include mobile {
        padding-bottom: $nav-item-height-mobile;
    }
}

.sticky-header__wrapper {
    right: 0;
    left: 0;
    z-index: 30;

    @include mobile {
        position: fixed;
        height: $nav-item-height-mobile;
        bottom: 0;
        background-color: $primary;

    }
    @include tablet {
        position: absolute;
        height: $nav-item-height-tablet;
        top: $nav-bar-padding-tablet;
    }
}

@include tablet {
    .sticky-header {
        background: transparent;
        transition: all 200ms ease-in-out;
    }
    .sticky-header.is-stuck {
        position: fixed;
        top: 0;
        width: 100%;
        background: $background-bold;
        box-shadow: $shadow-level-1;
    }
}

.nav-bar {
    display: flex;
    align-items: stretch;
    margin-top: 0;
    margin-left: 0;
    font-weight: 700;

    @include mobile {
        font-size: $nav-font-size-mobile;
    }

    @include tablet {
        font-size: $nav-font-size-tablet;
        justify-content: flex-end;
    }
}

.nav-bar__item {
    display: flex;
    align-items: center;
    margin-top: 0;

    @include mobile {
        flex: 1 1 0;

        &:not(:last-child) {
            border-right: 1px solid $primary-medium;
        }
    }

    @include tablet {
        flex: 0 1 auto;
    }
}


.nav-bar__item--logo {

    @include mobile {
         display: none;
    }

    @include tablet {
        margin-right: auto;
    }
}

.nav-bar__item--logo:not(.is-start-invisible) {
    opacity: 1;
}

.nav-bar__link {
    display: block;
    width: 100%;
    padding: $nav-item-padding-top-mobile 1rem;
    text-align: center;
    color: $white;

    @include tablet {
        padding: $nav-item-padding-top-tablet 1.5rem;
    }
}


.nav-bar__item--logo .nav-bar__link--logo {
    color: $secondary;
}

.nav-bar__icon {

    @include mobile {
        display: block;
        margin-bottom: $nav-icon-margin-bottom;
    }
    @include tablet {
        display: none;
    }
}

.nav-bar__icon-image {
    display: block;
    margin: 0 auto;
    fill: $primary-medium;
}