/*------------------------------------*\
  #Hero
\*------------------------------------*/ 

.hero {
  position: relative;

    @include tablet {
        padding-top: $nav-item-height-tablet + $nav-bar-padding-tablet;
    }
}

.hero__background {
  position: absolute;
  bottom: 15%;
  opacity: 4%;
  right: 17%;
  transform: scale(1.75) rotate(10deg);
}