/*------------------------------------*\
  #Helpers
\*------------------------------------*/ 

// Typography Helpers

  // Families
  .is-family-primary {
    font-family: $family-primary;
    font-weight: $weight-light;
  }
  .is-family-secondary {
    font-family: $family-secondary;
    font-weight: $weight-bold;
  }


  // Alignment
  .has-text-centered {
    text-align: center;
  }
  @include mobile {
    .has-text-centered-mobile {
      text-align: center;
    }
  }


  // Colors
  .has-text-primary {
    color: $primary !important;
  }
  .has-text-primary--light {
    color: $primary-light !important;
  }
  .has-text-secondary {
    color: $secondary !important;
  }
  .has-text-white {
    color: $white !important;
  }
  .has-text-black {
    color: $text !important;
  }


  // Sizes
  @mixin typography-size($target:'') {
    @each $size in $sizes {
      $i: index($sizes, $size);
      .is-size-#{$i}#{if($target == '', '', '-' + $target)} { 
          font-size: $size;
      }
    }
  }

  @include typography-size();

  @include mobile {
    @include typography-size('mobile')
  }

  @include tablet {
    @include typography-size('tablet')
  }

  @include touch {
    @include typography-size('touch')
  }

  @include desktop {
    @include typography-size('desktop')
  }

  
  // Weights
  // Only need light and bold because that are the styles loaded from Google
  .has-text-weight-light {
    font-weight: $weight-light;
  }
  .has-text-weight-bold {
    font-weight: $weight-bold;
  }


  // Styles
  .is-italic {
    font-style: italic;
  }



// Background Helpers
.has-background-bold {
  background: $background-bold;
  color: $white;
}
.has-background-primary--medium {
  background: $primary-medium;
}
.has-background-primary--light {
  background: $primary-light;
}
.has-background-primary--lightest {
  background: $primary-lightest;
}
.has-background-secondary--light {
  background: $secondary-light;
}

// Dividers
.has-divider {
  position: relative;
}

.has-section-divider {
  padding-bottom: 5.625rem;
}

.has-divider svg[id^="divider-"] {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.063rem;
    z-index: 10;
}

  // Colors
  .has-divider--bold-to-secondary {
    & svg[id^="divider-"] polygon[id^="border"] {
      fill: $primary-medium;
    }
    & svg[id^="divider-"] polygon[id^="background"] {
      fill: $secondary-light;
    }
  }

  .has-divider--secondary-to-white {
    & svg[id^="divider-"] polygon[id^="border"] {
      fill: $secondary-lightest;
    }
    & svg[id^="divider-"] polygon[id^="background"] {
      fill: $white;
    }
  }

  .has-divider--white-to-secondary {
    & svg[id^="divider-"] polygon[id^="border"] {
      fill: $secondary;
    }
    & svg[id^="divider-"] polygon[id^="background"] {
      fill: $secondary-light;
    }
  }



// Spacers
.spacer-bottom--sm {
  margin-bottom: .75rem !important;
}
.spacer-bottom--med {
  margin-bottom: 1.5rem !important;
}
.spacer-bottom--lg {
  margin-bottom: 2rem !important;
}
.spacer-bottom--xl {
  margin-bottom: 2.5rem !important;
}


// Display Helpers
.is-block {
  display: block;
}

.is-start-invisible {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.is-visible {
  opacity: 1;
}